button a {
    color: white;
}
button a:hover {
    color: white;
}
#logout {
    color: white;
}
#logout:hover {
    color: white;
}

h1 {
    margin-bottom: 2vw;
}
html, body {
    background-color:#e5eae5;
}
#navbar {
    background-color: #d9534f;
    color: white;
    border: 2px solid #d9534f;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom: 10px;
}
#Title {
    color: white;
}